<header class="header">
    <nav class="navbar navbar-default">
        <ul class="nav nav-pills">
            <li role="presentation">
                {{#link-to "index"}}
                    Accueil
                {{/link-to}}
            </li>
            <li role="presentation">
                {{#link-to "entrainements"}}
                   Entrainements
                {{/link-to}}
            </li>
            <li role="presentation">
                {{#link-to "competiteurs"}}
                    Compétiteurs
                {{/link-to}}
            </li>
            <li role="presentation">
                {{#link-to "equipes"}}
                    Equipes
                {{/link-to}}
            </li>
            <li role="presentation">
                {{#link-to "evenementiels"}}
                    Evénementiels
                {{/link-to}}
            </li>
            <li role="presentation">
                {{#link-to "contacts"}}
                    Contacts
                {{/link-to}}
            </li>
        </ul>
    </nav>
</header>